*{
  margin: 0px;
  padding: 0px;
}

body{
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/c/cb/Salon_de_Madame_Geoffrin.jpg/420px-Salon_de_Madame_Geoffrin.jpg');
  background-size:100%;
  background-attachment: fixed;
  height:100%;
  width:100%;
}
#navigationbar{
  width: 99vw;
  height: 10vh;
  background-color: white;
  opacity: 0.8;
}
#fitxt{
  margin-top: 60px;
  height: 100vh;
  width: 65vw;
  background-color: white;
  opacity: 0.8;
}
#helper{
  height: 40vh;
  width: 30vw;
  background-color: white;
  opacity: 0.8;
  float: right;
}
