*{
  margin: 0px;
  padding: 0px;
  color: white;
}

* {
  font-family: 'Varela Round', sans-serif;
  font size: 50:

}

body{
  float: right;
  background-image:url('do-bright.php.jpeg');
  background-size:100%;
  background-attachment: fixed;
  height:100%;
  width:100%;
}

#log {
  font-family: 'Shrikhand', cursive;
  margin-left: 20vw;
  font-size: 50px;
  color: white;g
}

#head {
  background-color: #4e5156;
  opacity: 0.5;
}


#exp {
 width: 20vw;
 height: 25vh;
 background-color: #4e5156;
 opacity: 0.9;
 margin-right: 5vw;
 margin-top: 5vh;
 position: sticky;
 float: right;

}
#navigationbar{
  width: 100vw;
  height: 11vh;
 background-image: linear-gradient( #111316 , #282c33,#111316);
 box-shadow:5px 1px 100px ;

  min-height: 10em;
  display: table-cell;
  vertical-align: middle;
}


#content{
  margin-left: 15vw;
  margin-top: 1vh;
  width: 50vw;
  height: 90vh;
  background-color: #4e5156;
  opacity: 0.95;
  color: #dedee0;
}

#navigationbar a{
  margin-left: 15px;
  padding: 5px;
  text-decoration: none;
  font-weight: bold;
  color: #89898c;
  font-size: 23px;
  border-top: 1px solid #1f1f21;
  border-left: 1px solid #1f1f21;
  border-right: 1px solid #1f1f21;
  border-radius: 6px;
  background-image: linear-gradient( #2d3035 , #494c51);
}
#navigationbar a:hover{
  color: #d6d6d6;
  transition: 0.5s;
  font-size: 23.5px;

}

#head a{
  float:right;
  font-size: 23;
  margin-top: 10px;
  margin-right: 10px;
  text-decoration: none;
  color: #2b2e3d;
}

footer {
  background-color: white;
  opacity: 0.8;
  margin-top:1vh;
  padding: 10px;
}
@font-face {
  font-family:'Varela Round',;
  src: url('https://fonts.googleapis.com/css?family=Varela+Round');
}
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: 10px;

  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-image: linear-gradient( #112ca0 , #01061c);
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }


  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }

  .drophover{
      position:relative;
      display:inline-block;
    }
  .drophover:hover .dropcontent{
      display:block;
      background-color: white;
    }
  .drophover:first-child{
      background-color:beige;
      color:#000
    }
  .dropcontent{
    display:none;
    position:absolute;
    min-width:160px;
    margin:0;
    padding:0;
    z-index:1;
    }
